.content{
    margin-top: 100px;
}

.projectTable .MuiDataGrid-virtualScrollerContent, .MuiDataGrid-footerContainer {
    background-color: rgba(255, 255, 255, 0.899);
}



.projectTable .MuiDataGrid-columnHeaders{
    background-color: rgba(220, 221, 221, 0.89);

}

.container-container{
    display: flex;
    justify-content: center;
}



